<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @category   Oro
 * @package    Oro_Ajax
 * @copyright  Copyright (c) 2016 Oro Inc. DBA MageCore (http://www.magecore.com)
 */
-->
<config>
    <modules>
        <Oro_Ajax>
            <version>1.1.0</version>
        </Oro_Ajax>
    </modules>

    <global>
        <models>
            <oro_ajax>
                <class>Oro_Ajax_Model</class>
            </oro_ajax>
        </models>
        <helpers>
            <oro_ajax>
                <class>Oro_Ajax_Helper</class>
            </oro_ajax>
        </helpers>
        <blocks>
            <oro_ajax>
                <class>Oro_Ajax_Block</class>
            </oro_ajax>
        </blocks>
        <resources>
            <oro_ajax_setup>
                <setup>
                    <module>Oro_Ajax</module>
                </setup>
            </oro_ajax_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <oro_ajax>
                <use>standard</use>
                <args>
                    <module>Oro_Ajax</module>
                    <frontName>ajax</frontName>
                </args>
            </oro_ajax>
        </routers>
        <layout>
            <updates>
                <oro_ajax>
                    <file>oro/ajax.xml</file>
                </oro_ajax>
            </updates>
        </layout>
        <translate>
            <modules>
                <Oro_Ajax>
                    <files>
                        <default>Oro_Ajax.csv</default>
                    </files>
                </Oro_Ajax>
            </modules>
        </translate>
        <events>
            <controller_action_layout_generate_blocks_before>
                <observers>
                    <oro_ajax>
                        <class>oro_ajax/observer</class>
                        <method>layoutGenerateBlocksBefore</method>
                    </oro_ajax>
                </observers>
            </controller_action_layout_generate_blocks_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <oro_ajax>
                        <class>oro_ajax/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </oro_ajax>
                </observers>
            </core_block_abstract_to_html_before>
            <catalog_controller_product_view>
                <observers>
                    <reports>
                        <type>disabled</type>
                    </reports>
                </observers>
            </catalog_controller_product_view>
            <http_response_send_before>
                <observers>
                    <varnishcache_form_keys>
                        <type>disabled</type>
                    </varnishcache_form_keys>
                    <varnishcache_handle_message_cookie>
                        <type>disabled</type>
                    </varnishcache_handle_message_cookie>
                </observers>
            </http_response_send_before>
            <core_session_abstract_add_message>
                <observers>
                    <varnishcache>
                        <type>disabled</type>
                    </varnishcache>
                </observers>
            </core_session_abstract_add_message>
            <checkout_cart_product_add_after>
                <observers>
                    <varnishcache>
                        <type>disabled</type>
                    </varnishcache>
                </observers>
            </checkout_cart_product_add_after>
            <customer_login>
                <observers>
                    <varnishcache>
                        <type>disabled</type>
                    </varnishcache>
                </observers>
            </customer_login>
            <catalog_product_compare_add_product>
                <observers>
                    <varnishcache>
                        <type>disabled</type>
                    </varnishcache>
                </observers>
            </catalog_product_compare_add_product>
            <wishlist_add_product>
                <observers>
                    <varnishcache>
                        <type>disabled</type>
                    </varnishcache>
                </observers>
            </wishlist_add_product>
        </events>
    </frontend>
</config>
